 body {
   background-color: #000000;
  }

  h1 {
   color: grey;
   text-align: center;
   font: italic 200% courier;
  }

 h2 {
   color: white;
   text-align: center;
   font: italic 200% courier;
  }

  p {
   color: lightgrey;
   text-align: right;
  }

p {
 padding: 200px;
 color: lightgrey;
 text-align: center;
}


a {
color: #69CBBB;
}
