  body {
   background-color: rgb(180;180;180);
  }

  h1 {
   color: #ff008d;
   text-align: center;
   font: italic 200% courier;
  }

 h2 {
   color: rgb(250; 250; 250);
   text-align: center;
   font: italic 200% courier;
  }

  p {
   color: #33a8ff;
   text-align: right;
   border: 3px dotted #ff008d;
  }

p {
 padding: 20px;
 color: #33a8ff;
 text-align: center;
 border: 3px dotted #ff008d;
}

video{
  align: center;
}

a {
color: #69CBBB;
}
