  body {
   background-color: black);
  }

  h1 {
   color: grey;
   text-align: center;
   font: italic 200% courier;
  }

 h2 {
   color: white;
   text-align: center;
   font: italic 200% courier;
  }

  p {
   color: grey;
   text-align: right;
   border: 3px dotted #ff008d;
  }

p {
 padding: 20px;
 color: grey;
 text-align: center;

}


a {
color: #69CBBB;
}
